@use '@globals/styles/breakpoints';

.comment {
	position: relative;
	z-index: 1;
	background-color: var(--color-white);
	border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
	border-top: 1px solid var(--color-transparent-gray);
	overflow: hidden;

	@media (width < breakpoints.$lg) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 600px;
		height: 510px;
		background-image: url('/comment_bg.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (width < breakpoints.$xl) {
			max-width: 450px;
			height: 380px;
		}
		@media (width < breakpoints.$md) {
			top: 0;
			left: unset;
			right: 0;
			bottom: unset;
			max-width: 200px;
			height: 170px;
			background-image: url('/comment_bg_mobile.svg');
		}
	}

	&__container {
		display: flex;

		@media (width < breakpoints.$lg) {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__inner {
		position: relative;
		padding-top: 140px;
		padding-bottom: 140px;

		@media (width < breakpoints.$xl) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media (width < breakpoints.$lg) {
			padding-top: 0;
			padding-bottom: 0;
		}

		+ .comment__inner {
			border-left: 1px solid var(--color-transparent-gray);

			@media (width < breakpoints.$lg) {
				border-left: none;
			}
		}

		&.left {
			width: 450px;
			padding-right: 40px;

			@media (width < breakpoints.$xl) {
				padding-right: 20px;
			}
			@media (width < breakpoints.$lg) {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-right: 170px;
				padding-bottom: 60px;
			}
			@media (width < breakpoints.$md) {
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					translate: -50% 0;
					width: 100vw;
					height: 1px;
					background-color: var(--color-transparent-gray);
				}
			}
			@media (width < breakpoints.$xs) {
				padding-right: 0;
			}
		}
		&.right {
			width: calc(100% - 450px);
			padding-left: 80px;

			@media (width < breakpoints.$xl) {
				padding-left: 20px;
			}
			@media (width < breakpoints.$lg) {
				width: 100%;
				padding-left: 0;
			}
		}
	}

	&__title {
		+ .comment__img {
			margin-top: 40px;

			@media (width < breakpoints.$lg) {
				margin-top: 0;
			}
		}
	}

	&__img {
		width: 100%;
		max-width: 405px;
		height: auto;

		@media (width < breakpoints.$lg) {
			position: absolute;
			top: -60px;
			right: -50px;
			max-width: 220px;
		}
		@media (width < breakpoints.$xs) {
			display: none;
		}
	}
}