@use './breakpoints.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-black);
  background-color: var(--color-blue-primary);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
