@use '@globals/styles/breakpoints';

.form {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;

		@media (width < breakpoints.$md) {
			grid-template-columns: 1fr;
			gap: 12px;
		}
	}

	&__checkboxes {
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media (width < breakpoints.$md) {
			gap: 12px;
		}
	}

	&__link {
		color: var(--color-blue-primary);

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}