@use '@globals/styles/breakpoints';

.form {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;

		@media (width < breakpoints.$md) {
			grid-template-columns: 1fr;
			gap: 12px;
		}
	}
}