@use '../breakpoints';

:root {

  // colors

  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: #D4E2FD;
  --color-lignt-100: #E7EEFF;
  --color-lignt-200: #BABFCB;
  --color-blue-primary: #286DF7;
  --color-gray-100: #F9F9F9;
  --color-gray-200: #858585;
  --color-gray-400: #515151;
  --color-red: #F7282B;
  --color-transparent-gray: rgba(51, 51, 51, .2);
  --color-overlay: rgba(0, 0, 0, .6);

  // shadows

  --shadow-1: 0 8px 16px 0 rgba(0, 0, 70, .2);

  // border radius

  --primary-border-radius: 24px;
  --secondary-border-radius: 12px;

  // transitions

  --transition-primary: .2s ease;

  // paddings

  --card-padding: 40px;

  // fonts

  --font-size-xs: 10px;
  --font-line-xs: 16px;

  --font-size-s: 12px;
  --font-line-s: 18px;

  --font-size-m: 14px;
  --font-line-m: 20px;

  --font-size-ml: 18px;
  --font-line-ml: 24px;

  --font-size-l: 20px;
  --font-line-l: 26px;

  --font-size-xl: 32px;
  --font-line-xl: 38px;

  --font-size-xxl: 40px;
  --font-line-xxl: 46px;

  --font-size-xxxl: 50px;
  --font-line-xxxl: 56px;

  // container

  --container-width: 1140px;
  --container-gap: 20px;

  // swiper

  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: var(--color-light);
  --swiper-scrollbar-drag-bg-color: var(--color-blue-primary);
  --swiper-scrollbar-size: 8px;

  // header

  --header-height: 100px;


  // tablet

  @media (width < breakpoints.$lg) {

    // header

    --header-height: 75px;
  }

  // mobile

  @media (width < breakpoints.$md) {

    // header

    --header-height: 50px;
  }
}