@use '@globals/styles/breakpoints';

.input {
	display: grid;
	gap: 15px;

	@media (width < breakpoints.$md) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		p {
			color: var(--color-gray-200);
		}
	}
}