@use '@globals/styles/breakpoints';

.form {
	position: relative;
	z-index: 1;
	flex-grow: 1;
	padding-top: 32px;
	padding-bottom: 32px;
	background-image: url('/page-contacts_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media (width < breakpoints.$md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}