@use '@globals/styles/breakpoints';

.calculator {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@media (width < breakpoints.$md) {
		gap: 16px;
	}

	&__heading {
		display: flex;
		align-items: center;

		@media (width < breakpoints.$xs) {
			flex-direction: column;
      gap: 5px;
		}

		&-inner {
			&:first-child {
				padding-right: 20px;

				@media (width < breakpoints.$xs) {
					padding-right: 0;
				}
			}
			&:last-child {
        padding-left: 20px;

				@media (width < breakpoints.$xs) {
					padding-left: 0;
				}
      }

			+ .calculator__heading-inner {
				border-left: 1px solid var(--color-transparent-gray);

				@media (width < breakpoints.$xs) {
					border-left: none;
				}
			}
		}
	}

	&__title {
		font-size: var(--font-size-xl);
		line-height: var(--font-line-xl);
		font-weight: 700;
	}

	&__amount {
		font-size: var(--font-size-xl);
		line-height: var(--font-line-xl);
		font-weight: 700;
		color: var(--color-blue-primary);
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (width < breakpoints.$sm) {
			flex-direction: column;
			gap: 5px;
		}

		li {
			display: flex;
			align-items: center;
			gap: 4px;
			flex-grow: 1;
			padding: 5px 15px;
			border-left: 1px solid var(--color-transparent-gray);

			@media (width < breakpoints.$xl) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media (width < breakpoints.$sm) {
				padding: 0;
				border-left: none;
			}

			&:last-child {
				border-right: 1px solid var(--color-transparent-gray);

				@media (width < breakpoints.$sm) {
					border-right: none;
				}
			}
		}
	}

	&__desc {
		display: flex;
		align-items: flex-start;
		gap: 8px;
		color: var(--color-gray-400);
		font-weight: 700;
	}
}