@use '@globals/styles/breakpoints';

.intro {
	position: relative;
	background-color: var(--color-white);
	border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
	overflow-x: hidden;

	@media (width < breakpoints.$lg) {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	@media (width < breakpoints.$md) {
		padding-top: 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 345px;
		height: 220px;
		background-image: url('/intro_bg-02.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (width < breakpoints.$lg) {
			display: none;
		}
	}

	&__container {
		display: flex;

		@media (width < breakpoints.$lg) {
			flex-direction: column;
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-top: 100px;
		padding-bottom: 40px;

		@media (width < breakpoints.$lg) {
			padding-top: 0;
			padding-bottom: 0;
		}
		@media (width < breakpoints.$md) {
			gap: 16px;
		}

		+ .intro__inner {
			border-left: 1px solid var(--color-transparent-gray);

			@media (width < breakpoints.$lg) {
				border-left: none;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					translate: -50% 0;
					width: 100vw;
					height: 1px;
					background-color: var(--color-transparent-gray);
				}
			}
		}

		&.left {
			width: 500px;
			padding-right: 60px;

			@media (width < breakpoints.$xl) {
				width: 400px;
				padding-right: 30px;
			}
			@media (width < breakpoints.$lg) {
				width: 100%;
				padding-right: 0;
				padding-bottom: 40px;
			}

			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				right: 0;
				bottom: 0;
				display: block;
				width: 400px;
				height: 400px;
				background-image: url('/intro_bg-01.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

				@media (width < breakpoints.$lg) {
					z-index: unset;
					right: -20px;
					background-image: url('/intro_bg_mobile.svg');
					width: 250px;
					height: 250px;
				}
				@media (width < breakpoints.$md) {
					width: 170px;
					height: 170px;
				}
			}
		}
		&.right {
			flex: 1;
			padding-left: 60px;

			@media (width < breakpoints.$xl) {
				padding-left: 30px;
			}
			@media (width < breakpoints.$lg) {
				padding-top: 40px;
				padding-left: 0;
			}
		}
	}

	&__desc {
		padding-top: 32px;
		border-top: 1px solid var(--color-transparent-gray);

		@media (width < breakpoints.$md) {
			padding-top: 16px;
		}

		.text {
			font-size: var(--font-size-s);
			line-height: var(--font-line-s);
			color: var(--color-gray-200);
		}
	}

	&__image {
		width: 100%;
		max-width: 400px;
		height: auto;

		@media (width < breakpoints.$lg) {
			position: absolute;
			z-index: 2;
			right: 20px;
			bottom: -30px;
			max-width: 300px;
		}
		@media (width < breakpoints.$md) {
			right: -60px;
			max-width: 200px;
		}
	}
}